@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>What do you whant to do?</h2>
<br />
<div>
    <a asp-action="ListRoles" class="btn btn-primary"> List all Roles</a>
</div>
<br />
<div>
    <a asp-action="EditRole" class="btn btn-primary"> Edit all Roles</a>
</div>
<br />
<div>
    <a asp-action="EditUsersInRole" class="btn btn-primary"> Edit Users in Roles </a>
</div>