@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистриране";
}
@{
 Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
@using Library.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<LibraryUser> SignInManager
@inject UserManager<LibraryUser> UserManager


    <div class="hero-image">
    <div class="hero-text">
<h1>@ViewData["Title"]</h1>


        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Създай нов акаунт.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DOB"></label>
                <input asp-for="Input.DOB" class="form-control" />
                <span asp-validation-for="Input.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
               
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-danger">Регистрирай</button>
        </form>
        <p>Или влез, ако вече имаш акаунт  <a class="list-group-item list-group-item-action text-danger opacity-50;" asp-area="Identity" asp-page="/Account/Login">Login</a></p>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
